.footer 
    &__container 
        max-width: 1300px 
        margin: 0 auto
        padding: 50px (30px / 2)

    &__row 
        display: flex 
        justify-content: space-between
        flex-flow: row wrap
        margin: -(30px / 2)

    &__box 
        flex: 0 1 240px
        padding: (30px / 2)

    &__title 
        padding-bottom: 16px

    &__contact 
        &-icon 
            display: inline-block
            vertical-align: middle
            margin-right: 5px
            font-size: 20px
            
            
.payments
    &__list
        display: flex
        align-items: center
        justify-content: flex-start
        flex-wrap: wrap

    &__item
        margin: 5px