.search 
    &__form 
        display: flex 

    &__input 
        flex: 1 
        min-width: 0 

    &__button 
        flex: 0 0 auto
        min-width: 45px
        font-size: 0

        svg
            width 20px
            height 20px
            fill: #fff

        &-icon 
            font-size: 20px
            color #fff

        &-label 
            display: none 