.search 
    max-width 700px

    &__form 
        display: flex 
        border: 1px solid #E5E5E5

        input
            border: none

            &::placeholder
                font(Montserrat, 14px, 400, #847e7e, 1, left)

    &__input 
        flex: 1 
        min-width: 0 

    &__button 
        flex: 0 0 auto
        min-width: 45px
        font-size: 0
        background: #fff

        svg
            width 20px
            height 20px
            fill: color[2]

        &-icon 
            font-size: 20px
            color color[2]

        &-label 
            display: none 


    @media desktop
        &__form 
     
            input
                border: none
                height 40px

        &__button
            height 40px