.modal-body
    width: 100%

.modal-header 
    position: relative 

    .close
        position: absolute 
        top: 0
        right: 0
        display: flex 
        justify-content: center 
        align-items: center 
        height: 100% 

.modal-body
    padding: 15px

    // .loader
    //     display: block 
    //     margin: 20px auto 

.modal-content
    border-radius: 0
    box-shadow: none 
    text-align: left 

    .page-simula-frete
        > p 
            font-size: 11px
            font-weight: bold 
            text-transform: uppercase 
            padding: 10px 0

#modal-content
    width: 100% 

.modal-title
    background: rgba(0,0,0,.5)
    color: #fff 
    font-size: 14px
    font-weight: bold
    text-transform: uppercase 
    margin: -15px
    padding: 15px


.modal-footer:empty 
    display: none 