{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 12 %}
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

<section class="page-home__banner page-home__banner--grid">
    <div class="page-home__container">
        <div class="page-home__banner-list">
            <div class="page-home__banner-item">{% element 'snippets/banner' {'name': 'extra4'} %}</div>
            <div class="page-home__banner-item">{% element 'snippets/banner' {'name': 'extra2'} %}</div>
            <div class="page-home__banner-item">{% element 'snippets/banner' {'name': 'extra3'} %}</div>
            <div class="page-home__banner-item">{% element 'snippets/banner' {'name': 'extra4'} %}</div>
        </div>
    </div>
</section>


{% element 'snippets/rulers' %}

{% set products = Products({
    'filter': showAvailable,
    'limit': limitProducts,
    'order': {'quantity_sold': 'desc'}
}) %}

{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Destaques",
    "carousel": "true"
} %}

{% element 'snippets/banner' {'name': 'extra5'} %}

{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Destaques",
    "carousel": "true"
} %}


{% element 'showcase' {
    "products": products,
    "showcaseTitle": "Destaques",
    "carousel": "true"
} %}


{% element 'snippets/banner' {'name': 'bottom'} %}

{% if pages.current == 'page-home' %}
    {% element 'snippets/banner' {'name': 'popup'} %}
    {% element 'snippets/banner' {'name': 'floating'} %}
{% endif %}
