.page-catalog 

    &__summary
        display flex
        border-bottom 1px solid  #dcebeb
        justify-content space-between
        position relative

        &--name
            display flex
            align-items center
            h1
                font(Oswald, 26px, 500, $black, 1.5, left)
                text-transform uppercase

        &--filters
            flex 1
            min-width 1px

        .toolbar__filter
            margin-left auto

            label.filtros
                font(Oswald, 14px, 400, $black, 1.5, left)
                text-transform capitalize

            select
                height 36px
                border solid 1px #e5e5e5
                padding-left 10px
                padding-right 10px

        .toolbar__paginate
            position absolute
            width 280px
            left 50%
            top 50px
            height 40px
            margin-left -140px
            margin-top -20px

            font(Oswald, 14px, 700, $black, 1.5, center)

        .paginate__pages
            display none

        .page-catalog__toolbar
            border-bottom 0
            margin-bottom 0


    &__container 
        display: flex 
        margin: '0 %s' % -(30px / 2)

    &__toolbar
        padding: 20px 0
        &--top 
            border-bottom: solid 1px rgba(0,0,0,.1)

        &--bottom 
            border-top: solid 1px rgba(0,0,0,.1)
            text-align: right

    &__content 
        flex: 1 
        min-width: 0
        padding: 0 (30px / 2)

        .showcase
            margin-top 0

        .showcase__item
            &:nth-child(-n+4)
                margin-top 0

    &__left 
        @media screen and (min-width 1024px)
            flex 0 0 310px
        .preload & 
            visibility: visible
    .main__container
        padding: 0 15px

@media (max-width: 991px) 
    .page-catalog 
        &__left 
            position: fixed
            top: 0 
            left: 0 
            z-index: 300

            .button__mask 
                opacity: 0
                visibility: hidden 

            .button__close 
                opacity: 0 

            // &[aria-hidden=true]
            //     .button__close 
            //         opacity: 0 
            //         animation: slideCloseButton 500ms 1 ease

            // &[aria-hidden=false]
            //     .button__mask
            //         opacity: 1 
            //         visibility: visible

            //     .button__close 
            //         opacity: 1
            //         animation: slideOpenButton 500ms 1 ease
            
        &__filters 
            position: fixed 
            z-index: 300

            width: 300px
            height: 100% 

            max-width: calc(100% - 45px)
            min-height: 100%

            background: #fff

            transform: translate3d(-100%, 0, 0)

            // [aria-hidden=true] & 
            //     transform: translate3d(-100%, 0, 0)
            //     animation: slideClose 500ms 1 ease

            // [aria-hidden=false] &
            //     transform: translate3d(0, 0, 0)
            //     animation: slideOpen 500ms 1 ease

            &-scroll 
                width: 100%
                height: 100% 
                padding: (30px / 2)
                overflow-y: auto


@media (min-width: 992px) 
    .page-catalog 
        &__left 
            padding: 0 (30px / 2)

            .button__mask 
                display: none 

        &__filters 
            position: static

        &__toolbar
            &--top 
                position: relative 
                margin-bottom: 60px 
                .paginate__pages
                    position: absolute 
                    right: 0 
                    top: 100% 
            &--bottom 
                .paginate__container 
                    display: flex 
                    justify-content: space-between
                    align-items: center 