{% if settings.showBrands %}
<div class="brands"> 
    <div class="brands__container">

        <div class="brands__ul">
            {% if settings.brandImage01 %}
            <div class="brands__item brands__item--1">
                <a href="/{{ settings.brandLink01 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle01 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage01) }}" alt="{{ settings.brandLink01 }}" title="{{ settings.name01 }}">
                    <span class="brands__span">{{ settings.brandTitle01 }}</span>
                </a>
            </div>
            {% endif %}
            {% if settings.brandImage02 %}
            <div class="brands__item brands__item--2">
                <a href="/{{ settings.brandLink02 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle02 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage02) }}" alt="{{ settings.brandLink02 }}" title="{{ settings.name02 }}">  
                    <span class="brands__span">{{ settings.brandTitle02 }}</span>
                </a>
            </div>
            {% endif %}
            {% if settings.brandImage03 %}
            <div class="brands__item brands__item--3">
                <a href="/{{ settings.brandLink03 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle03 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage03) }}" alt="{{ settings.brandLink03 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle03 }}</span>
                </a>
            </div>
            {% endif %}
            {% if settings.brandImage04 %}
            <div class="brands__item brands__item--1">
                <a href="/{{ settings.brandLink04 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle04 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage04) }}" alt="{{ settings.brandLink04 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle04 }}</span>
                </a>
            </div>
            {% endif %}
    
            {% if settings.brandImage05 %}
            <div class="brands__item brands__item--2">
                <a href="/{{ settings.brandLink05 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle05 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage05) }}" alt="{{ settings.brandLink05 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle05 }}</span>
                </a>
            </div>
            {% endif %}
    
            {% if settings.brandImage06 %}
            <div class="brands__item brands__item--3">
                <a href="/{{ settings.brandLink06 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle06 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage06) }}" alt="{{ settings.brandLink06 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle06 }}</span>
                </a>
            </div>
            {% endif %}
    
            {% if settings.brandImage07 %}
            <div class="brands__item brands__item--1">
                <a href="/{{ settings.brandLink07 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle07 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage07) }}" alt="{{ settings.brandLink07 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle07 }}</span>
                </a>
            </div>
            {% endif %}
    
            {% if settings.brandImage08 %}
            <div class="brands__item brands__item--2">
                <a href="/{{ settings.brandLink08 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle08 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage08) }}" alt="{{ settings.brandLink08 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle08 }}</span>
                </a>
            </div>
            {% endif %}
    
            {% if settings.brandImage09 %}
            <div class="brands__item brands__item--3">
                <a href="/{{ settings.brandLink09 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle09 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage09) }}" alt="{{ settings.brandLink09 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle09 }}</span>
                </a>
            </div>
            {% endif %}
    
            {% if settings.brandImage10 %}
            <div class="brands__item brands__item--1">
                <a href="/{{ settings.brandLink10 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle10 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage10) }}" alt="{{ settings.brandLink10 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle10 }}</span>
                </a>
            </div>
            {% endif %}
            
            {% if settings.brandImage11 %}
            <div class="brands__item brands__item--2">
                <a href="/{{ settings.brandLink11 }}" class="brands__link" aria-label="Link da Marca {{ settings.brandTitle11 }}" rel="noopener" target="_blank">
                    <img class="brands__image" src="{{ asset(settings.brandImage11) }}" alt="{{ settings.brandLink11 }}" title="{{ settings.name }}">  
                    <span class="brands__span">{{ settings.brandTitle11 }}</span>
                </a>
            </div>
            {% endif %}
    
        </div>
    </div>
</div>
{% endif %}
