<article class="product">
    
    <div class="product__header">
        <figure class="product__figure">
        {% if product.images %}
            <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
                <img class="product__image lazy" data-original="{{ product.images[0].full }}"
                src="{{ asset('img/ajax-loader.gif') }}" alt="{{ product.name }}" title="{{ product.name }}" width="180"
                height="180" layout="responsive">

            </a>
        {% else %}
            <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">
                <img class="product__image lazy" data-original="{{ product.images[0].full }}"
                src="{{ asset('img/ajax-loader.gif') }}" alt="{{ product.name }}" title="{{ product.name }}" width="180"
                height="180" layout="responsive">

            </a>
        {% endif %}
        </figure>
        
        {% if settings.discount %}
            {% set porcentagemDesconto = 100 - ( product.price_offer / product.price ) * 100 %}
            {% if porcentagemDesconto < 100 %}
                <span class="discount"> {{ porcentagemDesconto|number_format }}% de desconto </span>
            {% endif %}  
        {% endif %}             
    </div>

    <div class="product__main">
        <h1 class="product__name"><a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" data-tray-tst="vitrine_produto_link_imagem">{{ product.name }}</a></h1>

        <div data-module="pricing" data-snippet="snippets/product-payment" data-product-id="{{ product.id }}">
            <div class="pricing">
                Carregando...
            </div>
        </div>
    </div>

    <div class="product__actions">
        <a class="product__link" href="{{ settings.buy_to_cart ? links.cart_add ~ product.id : product.link }}" >Comprar</a>
        <button class="quick__button" data-quickview-button type="button" data-id="{{ product.id }}">
           quickview
        </button>

    </div>
    
</article>

