{% set toolCategories = settings.toolCategories|split(',') %} 



{% for theCategory in toolCategories %} 
    {% set categoryTray = Categories( { "id": theCategory } ) %}

    {% set products = Products({
       'limit': 12,
       'order': {'quantity_sold': 'desc'},
        'categories': [theCategory],
   }) %}

    <div class="toolCategory">
        <div class="toolCategory__column variations">
            <h2>{{ categoryTray.name }}</h2>

            <div class="toolCategory__column--variations">
                {% element 'snippets/toolVariations' { "products": products } %}
            </div>
        </div>
        <!-- Variações // -->

        <div class="toolCategory__column products">

            <div class="showcase">
                {% for product in products %}
                    {% set ranking = product.ranking %}
                    {% element 'snippets/toolProduct' {"product": product} %}
                {% endfor %}
            </div>
            
        </div>

        <!-- Produtos // -->

        <div class="toolCategory__column summary"></div>

        <!-- Resumo // -->
    </div>
{% endfor %}
