 
 {% if products %}
    {% for product in products %}


        {% if product.has_variation %}
                    
            {% set variants = product.variants %}
            {% set types = [] %}


            {% for variant in variants %}
                {% set skus = variant.Sku %}

                {% for sku in skus %}
                    {% set types = types|merge([sku.type]) %}
                {% endfor %}
                
            {% endfor %}

            {# Remove duplicates #}
            {% set newArray = [] %}

            {% for name in types %}
                {% if name not in newArray %}
                    {% set newArray = newArray|merge([name]) %}
                {% endif %}
            {% endfor %}

            {% set types = newArray %}

            {# Display Variants #}

            <div class="tool__variants--wrapper" data-product="{{product.id}}">
            
                {% for variantType in types %}
                    {% set norepeat = [] %}

                    <div class="tool__variants--item">
                    
                    <h4>{{variantType}}</h4>

                    <ul class="tool__variants--list" data-product="{{product.id}}">
                    {% for variant in variants %}
                        {% set skus = variant.Sku %}
                        {% set variantValue = '' %}
                        
                        {% for sku in skus %}
                            
                            {% if sku.type == variantType %}
                                {% set variantValue = sku.value %}

                                {% if variantValue not in norepeat %}
                                    <li class="tool__variantsType-{{sku.type}}" data-type="{{variantType}}" data-price="{{variant.price}}" data-name="{{variantValue}}" data-variant="{{variant.id}}" data-product-id="{{variant.product_id}}">

                                        {% if variantType == "Cor" %}
                                        <input type="hidden" name="variantImage" value="{{variant.images[0].large}}">
                                        {% endif %}
                                        
                                        <span style="background-image: url({{sku.image}})">{{variantValue}}</span>
                                    </li>

                                {% endif %}

                                {% set norepeat = norepeat|merge([sku.value]) %}
                            {% endif %}

                        {% endfor %}
                        
                    {% endfor %}
                    </ul>
                    </div>

                {% endfor %}
            </div>

        {% endif %}
        
    {% endfor %}
{% endif %}