.rating-short 
    &__container 
        margin: -2px
        display flex
        align-items center
    &__star
        color: #ccc
        padding: 2px

        font-size 14px

        flex 0 0 15.1px
        height 14.6px
        &--actived
            color: #000

    &__votes
        display none