.customer 
    &__container 
        display: flex 
        align-items: center
        margin: -(30px/2) 0

    &__main 
        padding: (30px/2) 0

    &__icon 
        font-size: 25px
        svg
            color: color
    &__label
        a, span, &
            font-size: 14px
            font-weight: bold

    &__link 
        a, & 
            font-size: 14px
            font-weight: regular

    &__main 
        flex: 1 
        min-width: 0

    &__link 
        &--icon 
            display: flex 
            justify-content: center 
            align-items: center
            width: 45px
            height: 45px 
            border-radius: 3px

    &--header 
        .customer
            &__main 
                display: none 

    &--navigation  
        padding: 30px
        border-bottom: solid 1px rgba(0,0,0,.1)

@media (min-width: 992px)
    .customer
        &--header 
            .customer
                &__main
                    display: block