.showcase 
    margin: 60px 0

    @media screen and (max-width 992px)
        .slick-prev
            left 0

        .slick-next
            right 0
    
    &__carousel
        @extend $container
        
        @media mobile 
            max-width 100%

    &__header
        display: block
        text-align: center

    &__title 
        font-size 45px
        font-weight 400
        line-height normal
        color color[0]
        font(Oswald, 45px, 300, #262323, 1.49, center)

        strong
            display: block
            font-style italic
            font-weight: 700

    &__desc
        display: block
        font-family: 'Montserrat', sans-serif;
        font-size 15px
        font-weight 400
        line-height normal
        color color[1]


    &__list 
        display: flex 
        justify-content: space-between
        align-items: stretch
        flex-flow: row wrap
        min-width: 100%
        
        @media desktop 
            margin: 0 -15px

    &__item 
        border-radius: 2px
        flex: 1 1 254px

        @media desktop 
            flex 0 0 25%
            margin: 30px 0
            padding: 0 3px

            &:hover
                .product
                   &__buy
                       opacity 1
                       visibility: visible


    @media(max-width: 991px)
        .slick-list
            padding: 0 15px

@media (min-width: (1300px + 100))
    .showcase 
        .slick-prev 
            left: -50px
        .slick-next 
            right: -50px
