.quickview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(118,119,104,0.9);
  z-index: 99999;
}
.quickview option:disabled {
  display: none;
}
.quickview .disabled {
  position: relative;
}
.quickview .disabled:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  z-index: 100;
}
.quickview .prices {
  border: 1px solid #d8d5c0;
  border-width: 1px 0;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  margin: 20px 0;
  padding: 20px 0;
}
.quickview .prices > span {
  display: block;
}
.quickview .prices .from {
  color: #767767;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  margin: 0;
  text-transform: uppercase;
  vertical-align: middle;
}
.quickview .to {
  color: #e2b22b;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 28px;
}
.quickview .payment {
  color: #767767;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
  text-transform: uppercase;
}
.quickview .payment span {
  font-weight: 600;
}
.quickview .variant label {
  display: block;
  font-size: 11px;
  color: #a7a7a7;
  margin: 8px 0;
  background: #fff;
  box-shadow: 2px 2px 10px 0 rgba(92,19,30,0.1);
  color: #767767;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  margin: 0 5px 5px 0;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  width: auto;
}
.quickview .variant select {
  border: solid 1px #a7a7a7;
  background: #fff;
  width: 100%;
  font-size: 11px;
  color: #a7a7a7;
  line-height: 30px;
  height: 30px;
  padding: 0 15px;
  border-radius: 0;
}
.quickview[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.quickview[aria-hidden=false] {
  visibility: visible;
  opacity: 1;
}
.quickview[aria-hidden=false] .quickview__container {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}
.quickview__container {
  display: flex;
  background: #fff;
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  padding: 40px;
  max-height: 90vh;
  max-width: 80vw;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .quickview__container {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 700px) {
  .quickview__container {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 440px) {
  .quickview__container {
    padding: 40px 0;
  }
}
.quickview__images {
  height: 100%;
  margin: 0;
  max-height: 400px;
  flex: 0 0 400px;
  width: 490px;
}
@media (max-width: 700px) {
  .quickview__images {
    max-width: calc(100% - 40px);
    flex: 0 0 calc(100% - 40px);
  }
}
.quickview__image {
  align-items: center;
  display: flex;
  height: 320px;
  justify-content: center;
  max-height: 320px;
  position: relative;
  overflow: hidden;
}
.quickview__image img {
  position: static;
  width: auto;
  max-width: 100%;
  max-height: 320px;
}
.quickview__main {
  min-width: 280px;
  max-width: 100%;
  margin: 0 20px;
}
@media (max-width: 700px) {
  .quickview__main {
    flex: 0 0 calc(100% - 40px);
    margin-top: 20px;
  }
}
.quickview__images--more {
  margin: 20px 0;
}
.quickview__images--more img {
  max-width: 50px;
  cursor: pointer;
  cursor: hand;
}
.quickview__images--more ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quickview__images--more li {
  list-style: none;
  margin: 5px 10px;
}
.quickview__button--close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background: none !important;
  border: 0;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  cursor: hand;
}
.quickview__button--close svg {
  width: 20px;
  height: 20px;
  fill: #dcdcdc;
  position: relative;
  z-index: 1;
}
.quickview__button--close:hover {
  background-color: transparent;
}
.quickview__button--close:hover svg {
  fill: #dcdcdc;
}
.quickview__button--close:before {
  content: '';
  position: absolute;
  z-index: 2;
  background: rgba(0,0,0,0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.quckview__name {
  color: #767767;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.quickivew__sku {
  margin: 0;
  color: #767768;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: none;
}
.quickview__small-description {
  color: #787878;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 15px;
}
.quickview__quantity {
  display: none;
}
.quickview__button--addcart,
.quickview__button--finish {
  background-color: #75da5b;
  border: 1px solid #75da5b;
  border-radius: 2px;
  box-shadow: 2px 2px 10px 0 rgba(92,19,30,0.1);
  color: #fff;
  display: inline-block;
  font-size: 23px;
  font-weight: 600;
  height: 55px;
  line-height: 55px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}
.quickview__button--addcart:hover,
.quickview__button--finish:hover {
  background-color: #fff;
  color: #75da5b;
}
.quickview__button--addcart:disabled {
  background: #929292;
  border-color: #929292;
  color: #fff;
  opacity: 0.5;
}
.quickview__button--addcart:disabled:hover {
  color: #fff;
}
.quickview__button--finish {
  font-size: 14px;
  margin: 0;
  width: auto;
}
.quickview__link--more {
  background: #fbfadc;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 2px 2px 10px 0 rgba(92,19,30,0.1);
  color: #e2b22b;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  height: 35px;
  line-height: 12px;
  margin: 0 0 0 20px;
  padding: 11px 16px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
.quickview__link--more:hover {
  background: #fff;
  border-color: #e2b22b;
  color: #e2b22b;
}
.quickview__button--continue {
  background: #e2b22b;
  border: 1px solid #e2b22b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
  height: 55px;
  line-height: 55px;
  padding: 0 10px;
  flex: 1 1 auto;
  border-radius: 3px;
  margin: 0 20px 0 0;
  cursor: pointer;
  cursor: hand;
}
.quickview__button--continue:hover {
  background: #fff;
  border-color: #e2b22b;
  color: #e2b22b;
}
.quickview__error,
.quickview__unavailable {
  padding: 20px;
  font-size: 13px;
  font-weight: 400;
  background: #fe8b8b;
  color: #fff;
  margin: 20px 0;
}
.button-quickview {
  font-size: 11px;
  color: #a89797;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.button-quickview .icon svg {
  fill: #cacaca;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  position: relative;
  z-index: 1;
}
.button-quickview:before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
}
.button-quickview:hover {
  color: #000;
}
.button-quickview:hover .icon svg {
  fill: #000;
}
.showcase ul li:hover .border {
  background: #fff;
}
.showcase ul li:hover .button-quickview {
  visibility: visible;
  opacity: 1;
}
.quickview--loaded {
  overflow: hidden;
}
.quckview__actions {
  width: 100%;
  text-align: center;
}
.variant__title {
  color: #767767;
  font-size: 11px;
  font-weight: 500;
}
.variants--open .variant {
  display: flex;
  flex-wrap: wrap;
  margin: 5px -5px;
}
.variants--open .variant__radio {
  display: none;
}
.variants--open .variant__label {
  font-size: 14px;
  line-height: 1;
  padding: 10px 20px;
  color: #2b2b2b;
  border: solid 1px #2b2b2b;
  border-radius: 2px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  cursor: hand;
}
.variant__radio:checked + .variants--open .variant__label,
.variants--open .variant__label:hover {
  background: #2b2b2b;
  color: #fff;
}
.quickview--loaded {
  overflow: auto;
}
.quickview__finish {
  max-width: 550px;
  width: 80vw;
}
.quickview__finish .quckview__actions {
  display: flex;
}
.variant__title {
  color: #767767;
  font-size: 11px;
  font-weight: 600;
  text-transform: none;
}
.variant__radio[type="radio"] {
  border: none;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.variant__radio[type="radio"]:checked {
  background: #f1f0e9;
  box-shadow: none;
}
.variant__label {
  color: #787878;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.1px;
}
.variants--radio {
  margin-bottom: 25px;
}
.minicart__delete {
  align-items: center;
  color: #ea3232;
  display: inline-flex;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: -0.1px;
  text-transform: uppercase;
}
.minicart__delete svg {
  fill: #ea3232;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: -2px;
  width: 11px;
}
@media (max-width: 1199px) {
  .minicart--fixed {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .minicart {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .minicart.minicart--actived {
    visibility: visible;
    opacity: 1;
  }
  .minicart__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
  }
  .minicart--actived .minicart__container {
    transform: translateX(0);
  }
  .minicart__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-bottom: 1px solid #f3f3f3;
  }
  .minicart__title {
    color: #b53b96;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }
  .minicart__close {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b53b96;
    font-size: 20px;
  }
  .minicart__empty {
    font-weight: 500;
    text-align: center;
    padding: 20px;
  }
  .minicart__list {
    margin: 0;
    padding: 0;
  }
  .minicart__item {
    position: relative;
    max-height: 130px;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .minicart__item + .minicart__item {
    border-top: solid 1px #eee;
  }
  .minicart__link {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
    color: #666;
  }
  .minicart__link:hover {
    text-decoration: none;
  }
  .minicart__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .minicart__name {
    font-size: 14px;
    flex: 0 0 100%;
  }
  .minicart__image {
    flex: 0 0 50px;
    margin-right: 20px;
  }
  .minicart__qty {
    font-size: 10px;
  }
  .minicart__price {
    font-size: 14px;
    color: #f00;
  }
  .minicart__total {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    padding: 0 20px;
  }
  .minicart__main {
    height: calc(100% - 140px);
    overflow-y: auto;
  }
  .minicart__finish {
    background: #3aad27;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .minicart__finish:hover {
    background: #339021;
  }
  .minicart__delete {
    background: #fff;
    border: 1px solid #e74949;
    border-radius: 3px;
    font-size: 10px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: all 150ms ease-in-out;
    visibility: hidden;
  }
  .minicart__delete svg {
    fill: #e74949;
  }
  .minicart__delete:hover {
    background: #e74949;
    color: #fff;
  }
  .minicart__delete:hover svg {
    fill: #fff;
  }
  .minicart__qty:before {
    content: ' / ';
  }
}
@media (min-width: 1200px) {
  #cart .dropdown:hover .cart__dropdown {
    opacity: 1;
    visibility: visible;
  }
  .minicart__list {
    border-bottom: 1px solid #ededed;
    margin-bottom: 30px;
    max-height: 250px;
    overflow: auto;
  }
  .minicart__item {
    border-bottom: 1px solid #ededed;
    padding: 25px 0;
  }
  .minicart__item:last-child {
    border-bottom: 0 none;
  }
  .minicart__link {
    align-items: center;
    display: flex;
  }
  .minicart__image {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin-right: 15px;
    position: relative;
    width: 70px;
  }
  .minicart__image img {
    max-height: 60px;
    max-width: 60px;
  }
  .minicart__info {
    flex: 1 1 auto;
  }
  .minicart__name {
    color: #767767;
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
  }
  .minicart__details {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .minicart__price,
  .minicart__qty {
    color: #e2b22b;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
  }
  .minicart__total-label {
    color: #403232;
    display: block;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin-bottom: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .minicart__total-price {
    color: #e2b22b;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
  }
  .minicart__finish {
    background: #75da5b;
    border: 1px solid #75da5b;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0 rgba(92,19,30,0.15);
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 25px;
    padding: 16px 20px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
  }
  .minicart__finish:hover {
    background: #fff;
    color: #75da5b;
  }
}
.minicart__header {
  display: none;
}
.cart__dropdown {
  position: absolute;
  right: 0;
  background: #fff;
  z-index: 99999999;
  width: 340px;
  padding: 30px;
  border: 1px solid #000;
  top: 100%;
  display: none;
}
.cart {
  position: relative;
}
.cart:hover .cart__dropdown {
  display: block;
}
