.copyright 
    background: #eaeaea 
    margin-bottom: (30px / 2)

    &__container 
        max-width: 1300px
        margin: 0 auto 
        padding: 30px 0
        font-size: 12px 
        text-align: center 