.copyright 
    background: #262323
    margin-top: 30px
    padding-bottom 30px

    &__container 
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 1300px
        margin: 0 auto 
        padding: 0 15px
        font-family: 'Montserrat', sans-serif;
        font-size: 12px 
        text-align: center 
        color: #fff

        span
            max-width 600px
            text-align: right 



        @media mobile 
            flex-wrap: wrap

            .partners
                width 100%

            .partners__container
                display flex
                justify-content center
                width 100%
                align-items center

            span
                text-align: center