.page-login
    @media mobile
        .container 
            padding: 15px

        .Login.caixa-login 
            width: 100%
            margin-bottom: 50px

        .Cadastro.caixa-cadastro 
            width: 100%
        
.botao-commerce.botao-efetuar-login
    background: color
    width: 100%
    border: none
    color: white
    border-radius: 4px

.botao-commerce.botao-novo-cadastro.pointer
    background: color
    width: 100%
    border: none
    color: white
    border-radius: 4px
