.breadcrumb
    &__container 
        margin: 5px -5px

    &__label, &__sep 
        display: inline-block 
        padding: 5px

        font(Oswald, 12px, 400, $black, 1.42, left)

    &__item
        &:last-child 
            .breadcrumb__label 
                color $pinkish-red