.partners 
    
    &__link 
        display: inline-block

        svg
            width 120px
            fill: #fff

    &__item 

        svg
            width 50px
            height 36px

        
        &--tray
            margin-left 10px
            margin-top 11px

    &__container 
        max-width: 1300px 
        display: flex 
        justify-content: center 
        align-items: center 
        margin: 0 auto 
        
