.partners 
    &__link 
        display: inline-block

        svg
            width 120px

    &__item 
        padding: (30px / 2)

        &--auaha 
            margin-top: -7px

    &__container 
        max-width: 1300px 
        display: flex 
        justify-content: center 
        align-items: center 
        margin: 0 auto 
        