.product
    max-width 245px
    margin: 0 auto
    transition: ease-out .2s

    &__header 
        margin-bottom: 20px 
        
    &__link 
        display: block 

    &__figure
        position relative
        min-height: 245px
        display: flex
        align-items: center
        justify-content: center

    &__image
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        transition: ease-out .2s;

        &--hover
            opacity 0        

    &__category
        display: block
        font-size: 13px
        line-height: normal
        text-align: center
        color: #847E7E
        min-height: 20px

    &__name
        min-height: 30px

        a
            font-family: 'Montserrat', sans-serif;
            font-size 14px
            font-weight 200
            line-height 1.29
            letter-spacing normal
            color #0a0b09
            text-align: center

    &__actions
        display: flex
        align-items: center
        justify-content: flex
        margin-top 3px

        @media mobile 
            flex-wrap: wrap
    &__quickview,
    &__buy
        font-size 12px
        font-weight bold
        font-style italic
        line-height normal
        color #ffffff
        border-radius 2px
        height auto
        padding: 6px 14px

    &__quickview
        display: none
        background-color #0a0b09
        margin-right: 15px

        @media mobile 
            margin-right: 0px
            margin-bottom: 10px 
            width 100%

        @media desktop 
            &:hover
                background: #d02431

    &__buy
        display: block
        margin-top: 15px
        background-color #90C401
        width 100%
        text-align: center    
        opacity 0
        visibility hidden

    &__payment
        font-size 14px
        font-weight 200
        line-height 1.62
        color #0a0b09
        text-align: center

        strong
            font-weight 200

        > br
            display: none

        .precoAvista
            font-size 14px
            font-weight 200
            color #0a0b09
        
        .txt-forma-pagamento,
        .operadora
            display: none

        .txt-com-desconto
            &:after
                content: ''
                display: block
                width 100%
.prices
    &__regular
        display: block
        text-align: center
        font-size 18px
        font-weight 500
        line-height 1.31
        color   #E02A31


.lazy-new
    -webkit-filter: blur(5px)
    filter: blur(5px)
    -moz-filter: blur(5px)
    -o-filter: blur(5px)
    -ms-filter: blur(5px)
    
