.product
    &__header 
        margin-bottom: 20px 
        
    &__link 
        display: block 

    &__image 
        display: block 
        width: 100% 
        object-fit: contain

    &__payment
        br
            display: none