.attendance 
    margin-right: 30px
    font-size: 12px 

    &__header 
        display: flex

    &__icon 
        display: flex 
        justify-content: center 
        align-items: center 
        width: 45px 
        height: 45px 
        font-size: 22px

        svg
            color #47c4c0

    &__title 
        font-size: 13px 
        font-weight: bold 
        text-transform: uppercase 

    &__content 
        display: flex 
        justify-content: center 
        align-items: flex-start 
        flex-flow: column nowrap

    &__phone 
        letter-spacing: 1px