.rulers  
    @extend $container
    display: flex
    align-items: center
    justify-content: center


    &__box
        display: inline-flex 
        justify-content: flex-start 
        align-items: center 
        padding: 10px 
        text-align: left

    &__item
        text-align: center 

    
    &__title
        font-size: 12px
        line-height: normal
        text-align: center

    .slick
        &-arrow 
            position: static
            transform: none 
            margin: 0 10px

        &-slider
            display: flex 
            justify-content: space-between
            align-items: center
        
        &-list 
            flex: 1 
            min-width: 0