.logo 
    text-align: center 
    
    &__name, &__description
        display: none 

    &__link
        display: block  

    img 
        display: inline-block
        width: auto
        height: 70px
        object-fit: contain 