// Efeitos de Transição 


@media(max-width: 991px)
    .navigation
        .preload &
            visibility: hidden 

        // Fundo do menu Transparente
        &__bg 
            position: fixed 
            top: 0 
            left: 0 
            z-index: 400
            width: 100%
            height: 100%
            background: rgba(0,0,0,.5)
            opacity: 0 
            visibility: hidden

        // Botão de Fechar
        .button__close 
            // Efeitos
            opacity: 0

        // Conteudo do Menu (estrutura)
        &__container 
            position: fixed
            top: 0
            left: 0
            z-index: 500
            display: flex 
            flex-flow: column nowrap 
            width: 300px
            height: 100%
            max-height: 100%
            max-width: calc(100% - 45px) 
            background: #fff
            transform: translate3d(-100%, 0, 0)
            transition: all 300ms ease-in-out

        &__main 
            flex: 1 
            min-height: 0
            overflow-y: auto

    .menu__open
        .navigation 
            visibility visible
            &__container
                transform: translate3d(0, 0, 0) 

        .button__close
            opacity: 1

    // // Transição para abrir o menu
    // &[aria-hidden=false]
    //     .navigation 
    //         &__container 
    //             transform: translate3d(0, 0, 0)
    //             animation: slideOpen 500ms 1 ease

    //         &__bg 
    //             opacity: 1
    //             visibility: visible

    //     .button__close
    //         opacity: 1
    //         animation: slideOpenButton 500ms 1 ease
                
@media (min-width: 992px) 
    .navigation
        position: absolute
        top: 100% 
        left: 0
        z-index: 10
        width: 100% 
        transition: all .2s ease-in-out
        background: color[0]

        &__bg, &__header, .button__close
            display: none 

        &__main 
            max-width: 1300px
            margin: 0 auto
 

 