.paginate 
    text-align: center 

    &__count 
        span
            color $pinkish-red

    &__pages
        display: inline-flex 
        flex-flow: row wrap 
        margin: 5px -5px

    &__link a,
    &__link--current 
        display flex
        width 45px
        height 45px
        padding 12px 18px 12px 19px
        border solid 1px $reddish-grey
        background-color #ffffff
        justify-content center
        align-items center
        font(Oswald, 14px, 700, $black, 1.5, left)

    &__link--current 
        color #fff
        background-color $pinkish-red


    &__link a, &__link--current 
        flex: 0 0 auto
        display: flex 
        justify-content: center 
        align-items: center 
        padding: 5px 15px
        margin: 5px 

        &:hover 
            text-decoration: none 
            background: rgba(0,0,0,.8)
            color: #fff


    &__link 

        &--next,
        &--last
            a
                &:before
                    font-size 25px !important

        &--first, &--prev, &--next, &--last 
            a 
                &:before 
                    font-size: 14px 

        &--first a:before 
            icon: '\f100'

        &--prev a:before 
            icon: '\f104'

        &--next a:before 
            icon: '\f105'

        &--last a:before 
            icon: '\f101'

@media (min-width: 992px) 
    .paginate 
        padding-right: 20px
        text-align: left

        &__container 
            display: flex 
            justify-content: center
            align-items: center 

        &__pages 
            flex: 0 0 auto 

        &__count 
            flex: 1 
            min-width: 0 